<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980188021150-o41umk65ldonju3v5btinfg2ific0gj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980188021150-o41umk65ldonju3v5btinfg2ific0gj1</string>
	<key>API_KEY</key>
	<string>AIzaSyAV9lzYQtBr4vZl_ankvJabcEZwEGuvEpU</string>
	<key>GCM_SENDER_ID</key>
	<string>980188021150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medycrypt</string>
	<key>PROJECT_ID</key>
	<string>medycrypt</string>
	<key>STORAGE_BUCKET</key>
	<string>medycrypt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980188021150:ios:f244d09f400f175636568f</string>
</dict>
</plist>